#searchLine{
    width: 60%; 
    height: 30px; 
    border: 2px solid skyblue;
    box-shadow: 2px 2px 5px #999;
    position: flex;
}

#searchButton{
    height:37px; 
    width: 60px;
    margin-left: -15px; 
    background-color: aquamarine; 
    border: none;
    border-radius: 10px;
    transition: all 0.2s ease;
    box-shadow: 2px 2px 5px #999;
}

header{
    font-size: 50px; 
    text-align: center;
    margin-top:30px;
}

body {
    background-color: beige;
    font-family: "Monserrat";
}

.hidden{
    display: none;
}

#main {
    margin-top: 5%;
    margin-left:20%;
    margin-right:20%;
    border: 2px solid lightgray;
    background-color: white;
    position: relative;
    border-radius: 20px;
}

#mainHead{
    margin-top: 2.5%;
    text-align: center;
    font-size: 20px;
}

ul hr{
    margin-right: 6%;
}

.delButton{
    position: absolute;
    top:10px;
    right: 7%;
    border: none;
    background-color: rgb(105, 191, 225); 
    border-radius: 4px;
    box-shadow: 2px 2px 5px #999;
    text-align: center;
    color: white;
}

#writing{
    margin:1%; 
    margin-left:85%;
    height: 30px;
}

#postingForm{
    margin:3%;
    justify-content: center;
    display: flex;
}

#postingCompleteButton{
    background-color: aquamarine;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 5px #999;
    margin-left:5px;
}

#postingInput{
    width:60%;
    box-shadow: 2px 2px 5px #999;
    height:70px;
}

.postingSpan{
    width: 90%;
}

body::-webkit-scrollbar { 
    width: 12px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 50%; /* 스크롤바의 길이 */
    background: rgb(105, 191, 225); /* 스크롤바의 색상 */
    border: 1px solid none;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgb(245, 245, 220, .1);  /*스크롤바 뒷 배경 색상*/
}

#logo{
    text-decoration: none; 
    text-decoration-line: none; 
    color:black;
}