body{
    background-color: beige;
}

#wrapMain{
    text-align: center;
    margin-top: 3%;
}

#main{
    margin-top: 5%;
    margin-left:20%;
    margin-right:20%;
    border: 2px solid lightgray;
    background-color: white;
    position: relative;
    border-radius: 20px;
}

#header{
    font-size: 50px;
    text-decoration: none; 
    text-decoration-line: none; 
    color:black;
}

#headerDiv{
    margin: auto;
    width:130px;
    border-radius: 20px;
}

#wrapLoginDiv{
    margin-top: 50px;
    margin-bottom: 50px;
}

#toLoginDiv{
    flex-direction: column;
    width: 60%;
    margin:auto;
}

#idDiv{
    height: 25px;
    display: flex;
    width: 100%;
}

#id{
    width: 70%;
    margin-left: auto;
    border-radius: 10px;
    border: 1px solid black;
}

#pwDiv{
    margin-top:30px;
    height: 25px;
    display: flex;
    width:100%;
}

#pw{
    width: 70%;
    margin-left: auto;
    border-radius: 10px;
    border: 1px solid black;
}

#wrapLoginSpan{
    margin:15px;
}

#loginSpan{
    font-size: 30px;
}

#wrapSubmit{
    margin-top: 30px;
}

#submitLogin{
    margin:auto;
    height: 50px;
}

#submitButton{
    width: 50%;
    height: 100%;
}

body::-webkit-scrollbar { 
    width: 12px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 50%; /* 스크롤바의 길이 */
    background: rgb(105, 191, 225); /* 스크롤바의 색상 */
    border: 1px solid none;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgb(245, 245, 220, .1);  /*스크롤바 뒷 배경 색상*/
}