body{
    background-color: beige;
}

header{
    text-align: center;
    margin-top: 3%;
}

#main{
    margin-top: 5%;
    margin-left:20%;
    margin-right:20%;
    border: 2px solid lightgray;
    background-color: white;
    position: relative;
    border-radius: 20px;
    min-width: 400px;
}

#header{
    font-size: 50px;
    text-decoration: none; 
    text-decoration-line: none; 
    color:black;
}

#headerDiv:hover{
    background-color: aquamarine;
    transition: all 0.5s ease;
}

#headerDiv{
    margin: auto;
    width:150px;
    border-radius: 20px;
}

#wrapLoginDiv{
    margin-top: 50px;
    margin-bottom: 50px;
}

#toLoginDiv{
    flex-direction: column;
    width: 60%;
    margin:auto;
}

#idDiv{
    font-size: 20px;
    height: 25px;
    display: flex;
    width: 100%;
}

#id{    
    height:20px;
    width: 35%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;
    transition: all 0.2s ease;
}

#id:focus{
    width: 65%;
    border:none;
    outline: 2px solid rgb(105, 191, 225);
}

#pwDiv{
    font-size: 20px;
    margin-top:30px;
    height: 25px;
    display: flex;
    width:100%;
}

#pw{
    height:20px;
    width: 35%;
    margin: auto;
    border-radius: 10px;
    border: 2px solid black;    
    transition: all 0.2s ease;
}

#pw:focus{
    width: 65%;
    border: none;
    outline: 2px solid rgb(105, 191, 225);
}

#wrapLoginSpan{
    text-align: center;
    margin:15px;
}

#loginSpan{
    font-size: 30px;
}

#wrapSubmit{
    text-align: center;
    margin-top: 30px;
}

#submitLogin{
    margin:auto;
    height: 50px;
}

#submitButton{
    font-size: 20px;
    width: 50%;
    height: 100%;
    border-radius: 50px;
    border:none;
    background-color: rgb(105, 191, 225);
    color: white;
}

#forgotPasswordDiv{
    margin-top:5%;
    font-size: 15px;
}

#forgotPassword{
    color: rgb(105, 191, 225);
}

#submitButton:hover{
    background-color: rgb(99, 179, 211);
}

body::-webkit-scrollbar { 
    width: 12px;  /* 스크롤바의 너비 */
}

body::-webkit-scrollbar-thumb {
    height: 50%; /* 스크롤바의 길이 */
    background: rgb(105, 191, 225); /* 스크롤바의 색상 */
    border: 1px solid none;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background: rgb(245, 245, 220, .1);  /*스크롤바 뒷 배경 색상*/
}