body{
    background-color: beige;
}

#wrapMain{
    text-align: center;
    margin-top: 3%;
}

#main{
    margin-top: 5%;
    margin-left:20%;
    margin-right:20%;
    border: 2px solid lightgray;
    background-color: white;
    position: relative;
    border-radius: 20px;
}

#header{
    font-size: 50px;
    text-decoration: none; 
    text-decoration-line: none; 
    color:black;
}

#headerDiv{
    margin: auto;
    width:150px;
    border-radius: 20px;
    border: 1px solid rgb(123, 242, 202);
    background-color: aquamarine;
}